
@{
    ViewBag.Title = "Zabudol som heslo";
}

<section id="forgotPassword">
    <div class="container-fluid w-75">
        <div>
            <h1 style="margin-top: 20px;">Obnova hesla</h1>

            <div class="row">
                <div class="col-12">
                    @using (Html.BeginForm("ForgotPasswordSendLink", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "forgotPasswordForm" }))
                    {

                        <div class="form-horizontal">
                            <hr />

                            <p style="margin-bottom: 10px;">
                                Zadajte Váš e-mail a my Vám zašleme odkaz na ktorom si vytvoríte nové heslo.
                            </p>

                            <div class="form-group row ml-0 p-0 col mb-10">
                                <div class="col-md-12 p-0">
                                    @Html.Editor("forgotPasswordEmail", new { htmlAttributes = new { @class = "form-control", placeholder = "Email", style = "width:50%;" } })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="right">
                                    <input type="submit" value="Odoslať" class="btn btn-color-blue col-12 col-md-3" />
                                </div>

                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("#forgotPasswordForm input[type=submit]").click(function (e) {
        e.preventDefault();

        $email = $("#forgotPasswordEmail").val();
        if ($email == "" || !validateEmail($email)) {
            $("#forgotPasswordEmail").addClass("error");
        }
        else {

            $("#forgotPasswordEmail").removeClass("error");

            $("#forgotPasswordForm").submit();
        }


    });

    function validateEmail(email) {
        var re = /\S+@@\S+\.\S+/;
        return re.test(String(email).toLowerCase());
    }
</script>