<style>
    #front-picture, #services {
        display: none !important;
    }
</style>
<h1 style="font-size: 60px;color: #008fd3;">404 Stránka nebola<br />nájdená</h1>
<hr />
<h2>Je nám ľúto, ale požadovaná stránka nebola nájdená. <br />Kontaktujte prosím administrátora.</h2>
<p>Je možné, že stránka bola presmerovaná alebo odstránená.</p>
<hr />
<a class="btn btn-color-blue" href="@Url.Action("Index", "Home")">Späť na úvod</a>