@model Cms.Models.MultipleIndexModel

<!-- The Modal -->
<div id="myModalWatchdog" class="modal">

    <!-- Modal content -->
    <div class="modal-login container">
        <div class="row" style="display: block;">
            <span class="close">&times;</span>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Watchdog</h3>
                @using (Html.BeginForm("CreateWatchdog", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "watchdogForm" }))
                {

                    <div class="form-horizontal">
                        <hr />

                        <p style="margin-bottom: 10px;">
                            Tento produkt nie je v tomto okamihu skladom. Pomocou formulára môžte odoslať požiadavku na jeho dodanie na sklad a akonáhle sa tento produkt naskladní, príde vám e-mail.
                        </p>

                        <label class="control-label" for="watchdogEmail">E-mail</label>
                        <div class="form-group row ml-0 p-0 col mb-10">
                            <div class="col-md-12 p-0">
                                @Html.Editor("watchdogEmail", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="right" style="text-align: right;">
                                <input type="submit" value="Odoslať" class="btn btn-color-blue col-3" />
                            </div>
                            <div class="col-md-10 text-danger p-0 mt-2 wrongpass" style="display: none;">
                                Meno alebo heslo je zadané nesprávne!
                            </div>
                        </div>
                    </div>
                    @Html.Hidden("thisProdId", "")
                    @Html.Hidden("returnUrl", HttpContext.Current.Request.Url.AbsoluteUri)

                }
            </div>

        </div>
    </div>

</div>

<script>
    $("#watchdogForm input[type=submit]").click(function (e) {
        e.preventDefault();

        $email = $("#watchdogEmail").val();
        if ($email == "" || !validateEmail($email)) {
            $("#watchdogEmail").addClass("error");
        }
        else {

            $("#watchdogEmail").removeClass("error");
            $("#thisProdId").val($("#prodId").val());

            $("#watchdogForm").submit();
        }


    });

    function validateEmail(email) {
        var re = /\S+@@\S+\.\S+/;
        return re.test(String(email).toLowerCase());
    }
</script>