
html, body {
    font-family: Poppins;
}

.header-top {
    padding-top: 20px;
    padding-bottom: 10px;
}

    .header-top .logo {
        width: 100%;
        margin: 0px;
    }

    .header-top .search input {
        width: 100%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 15px 20px;
        font-size: 12px;
        text-transform: uppercase;
    }

        .header-top .search input:focus {
            outline-width: 0px;
        }

    .header-top .info i {
        font-size: 15px;
        margin-right: 5px;
    }

    .header-top .info span {
        font-size: 12px;
    }

    /*
    .header-top .cart .icon {
        width: 40px;
    }

    .header-top .cart span {
        font-size: 16px;
        margin-left: 10px;
        font-weight: bold;  
    }
        */

    .header-top .cart a {
        text-decoration: none;
    }

    .header-top .cart i {
        margin-right: 6px;
        color: #000;
        font-size: 33px;
    }

    .header-top .cart .cart-qty {
        left: 5px;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        bottom: -3px;
        display: -ms-flexbox;
        display: flex;
        width: 18px;
        height: 18px;
        color: #fff;
        border-radius: 50%;
        background-color: #000;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        white-space: nowrap;
    }

    .header-top .cart .cart-total {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        top: -3px;
        color: #000;
    }

.header-bottom {
    padding: 10px 0px;
}

    .header-bottom a {
        text-decoration: none;
        font-size: 14px;
        color: black;
        font-weight: bold;
        margin-right: 10px;
    }

.benefits {
    padding: 20px 0px;
}

    .benefits .icon {
        height: 30px;
    }

    .benefits p {
        margin: 0px;
    }

        .benefits p.header {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: -3px;
        }

        .benefits p.text {
            font-size: 14px;
        }

.types {
    position: relative;
    margin-bottom: 20px;
}

    .types > a {
        margin-bottom: 0.5rem;
    }


    .types img {
        width: 100%;
    }

    .types p.header {
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        bottom: 20px;
        left: calc(20px + 0.5rem);
        color: white;
        margin: 0;
    }

.more-types {
    text-align: center;
}

.rounded-button {
    font-size: 14px;
    display: inline-block;
    background-color: #272727;
    font-weight: bold;
    padding: 15px 40px;
    color: white !important;
    text-transform: uppercase;
    border-radius: 25px;
}

    .rounded-button:hover {
        text-decoration: none;
    }

.products {
    margin-top: 40px;
    margin-bottom: 20px;
}

    .products .products-row .slick-track {
        padding: 10px 0px;
    }

    .products h2 {
        font-size: 26px;
        color: black;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .products .product {
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid rgba(0,0,0,0.1);
        margin-right: 10px;
        -webkit-transition: .1s linear;
        -moz-transition: .1s linear;
        transition: .1s linear;
        min-height: 470px;
    }

        .products .product > *:hover {
            text-decoration: none;
            color: black;
        }

        .products .product:last-child {
            margin-right: 0px;
        }

        .products .product:hover {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
        }

        .products .product img {
            width: 100%;
            margin-bottom: 10px;
        }

        .products .product .prod-labels {
            text-align: center;
            margin-bottom: 25px;
            height: 20px;
        }

            .products .product .prod-labels span {
                padding: 1.5px 10px;
                border-radius: 5px;
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                font-size: 11px;
            }

            .products .product .prod-labels .prod-discount {
                background-color: #ea2627;
            }

            .products .product .prod-labels .prod-new {
                background-color: #77cc36;
            }

        .products .product .prod-header {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;
            height: 50px;
        }

        .products .product .prod-text {
            font-size: 11px;
            margin-bottom: 5px;
            font-weight: 300 !important;
            color: #929292;
            height: 30px;
            overflow: hidden;
        }

        .products .product .prod-prices {
            margin-bottom: 5px;
        }

            .products .product .prod-prices .prod-base {
                font-size: 20px;
                font-weight: bold;
            }

            .products .product .prod-prices .prod-discount {
                text-decoration: line-through;
                margin-right: 3px;
            }

            .products .product .prod-prices .prod-price-from {
                font-size: 20px;
                font-weight: bold;
            }

        .products .product .prod-add-to-cart {
            border: 1px solid black;
            display: inline-block;
            padding: 1px 15px;
            border-radius: 15px;
            font-size: 12px;
            color: black;
            position: relative;
            cursor: pointer;
            transition: all ease-in .2s;
        }

.prod-add-to-cart:hover {
    background: #ffa500;
}

.products .product .prod-add-to-cart .prod-icon {
    width: 30px;
    top: -2px;
    position: absolute;
    padding-right: 3px;
    left: -20px;
    background-color: white;
}


.hp-newsletter {
    background-color: rgba(0,0,0,0.05);
    padding: 30px 0px;
}

    .hp-newsletter .hp-header {
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 10px;
    }

    .hp-newsletter .hp-text {
        font-size: 13px;
    }

    .hp-newsletter .hp-email-wrapper {
        padding-top: 10px;
    }

        .hp-newsletter .hp-email-wrapper input {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border: 1px solid rgba(0,0,0,0.1);
            height: 40px;
            width: 50%;
            padding: 0px 15px;
        }

            .hp-newsletter .hp-email-wrapper input:focus {
                outline: none;
            }


        .hp-newsletter .hp-email-wrapper .rect-button {
            background-color: orange;
            color: white;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding: 0px 10px;
            text-decoration: none;
            margin-left: -5px;
        }

    .hp-newsletter .hp-checkbox-wrapper {
        margin-top: 5px;
    }

        .hp-newsletter .hp-checkbox-wrapper input {
            margin-left: 3px;
            margin-right: 10px;
        }

        .hp-newsletter .hp-checkbox-wrapper a {
            color: black;
            text-decoration: underline;
        }


.banner {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px !important;
    margin: 0px !important;
    position: relative;
}

    .banner:hover {
        text-decoration: none;
    }

    .banner .header {
        color: white;
        margin-top: 120px;
        font-size: 40px;
        font-weight: bold;
    }

    .banner .text {
        margin-top: -20px;
        font-size: 80px;
        font-weight: bold;
        color: orange;
        margin-bottom: 20px;
    }

    .banner .subtext {
        font-size: 20px;
        margin-bottom: 40px;
        color: black;
    }

.banner-wrapper .slick-next {
    right: 40px;
}

.banner-wrapper .slick-prev {
    z-index: 1;
    left: 0px;
}

.top-banner-wrapper {
    margin-bottom: 0px;
}

.top-banner {
    text-align: right;
}

.bottom-banner {
    position: relative;
}

    .bottom-banner .header {
        position: absolute;
        font-size: 60px;
        color: white;
        bottom: 10px;
        left: 20px;
    }

.articles {
    margin-bottom: 10px;
    margin-top: 40px;
}

    .articles h2 {
        font-size: 26px;
        color: black;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .articles .article {
        margin-bottom: 20px;
    }

        .articles .article:hover {
            text-decoration: none;
        }

        .articles .article img {
            width: 100%;
        }

        .articles .article .header {
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
            font-size: 14px;
            color: black;
        }

        .articles .article .date {
            font-size: 12px;
            text-align: center;
            color: rgba(0,0,0,0.5);
        }

            .articles .article .date i {
                margin-right: 5px;
            }

.footer-wrapper {
    background-color: #242223;
}

.footer-top {
    padding: 30px 0px 10px 0px;
}

    .footer-top img {
        width: 100%;
    }

    .footer-top .icon {
        height: 25px;
        width: auto;
        margin-right: 5px;
        display: inline-block;
    }

    .footer-top h3 {
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .footer-top ul {
        padding-left: 0px;
        list-style-type: none;
    }

    .footer-top p {
        color: white;
        font-size: 14px;
        margin-bottom: 0px;
    }

    .footer-top ul li a {
        color: white;
        font-size: 14px;
    }

        .footer-top ul li a:hover {
            text-decoration: none;
        }

.footer-del {
    background-color: #242223;
}

    .footer-del > div {
        height: 1px;
        border-top: 1px solid rgba(255,255,255,0.5);
    }

.footer-bottom {
    padding: 10px 0px;
}

    .footer-bottom .payment-gateways img {
        height: 20px;
    }

    .footer-bottom .copyright {
        text-align: right;
        color: white;
        font-size: 12px;
    }


.error {
    border-color: red !important;
    color: red !important;
}

    .error a {
        color: red !important;
    }


.slick-slider {
    margin-bottom: 0px !important;
}
